.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.paginationBtn {
    padding: 5px;
    cursor: pointer;
}

.selectedPage {
    font-size: 18px;
    font-weight: 600;
    color: #1db954;
}

.arrowBtn {
    color: #f2f2f2;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 5px;
}

.arrowBtn:disabled{
    color: #535353;
}
