.paginator {
    color: #f2f2f2;
}

.header {

}

.userRow {
    background-color: #212121;
    padding: 20px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.userInfo {
    display: flex;
}

.userInfo > div {
    margin-right: 10px;
}

.userPhoto img {
    width: 100px;
    height: auto;
    border-radius: 100%;
}

.userData {
    display: flex;
    flex-direction: column;
}

.userInfoLocation {
    display: flex;
}

.userInfoLocation > div {
    color: #b3b3b3;
    padding-right: 5px;
    font-size: 18px;
    font-weight: 600;
}


.textBold {
    color: #f2f2f2;
    font-size: 18px;
    font-weight: 600;
}

.userStatus {
    color: #b3b3b3;
}


.toggleFollowBtn {
    padding: 10px 30px;
    background-color: #1db954;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.toggleFollowBtn:hover {
    background-color: #1db954;
}

.toggleFollowBtn:focus {
    outline: none;
    background-color: #1db954;
}

.toggleFollowBtn:disabled {
    background-color: #6e767d;
    color: rgba(0, 0, 0, 0.3);
}

