.postsBlock {
    grid-template: "myPosts";
    background-color: #212121;
    margin: 10px;
    border-radius: 5px;
}

.posts {
    margin-top: 20px;
}

.addPost {
    background-color: rgba(0, 0, 0, 0);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #535353;

    padding: 15px;
    margin-top: 10px;
}

.postInput {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
    resize: vertical;
}

.postInput:hover {
    box-shadow: 0 0 2px #367396;
}

.postInput:focus {
    outline: none;
    box-shadow: 0 0 2px #b3b3b3;
}

.postBtn {
    padding: 10px;
    border-radius: 15px;
    background-color: #1db954;
    cursor: pointer;
    color: white;
    border: none;
    transition: 0.3s;
}

.postBtn:hover {
    background-color: #14a76c;
}


.postBtn:focus {
    outline: none;
    box-shadow: 0 0 5px #1db954;
}

.myPostsTitle {

    padding-bottom: 20px;
}
