.formControl {
}


.formControl.error input,
.formControl.error textarea {
    border-color: #cf6679;
}

.formControl.error span {
    color: #cf6679;
}

.formError {
    color: #cf6679;
}

.field {
    display: flex;
    align-items: center;
}

.inline {
    display: flex;
    align-items: flex-end;
}

.label {
    color: #e6e6e6;
    margin-left: 5px;
}
