.form {
    margin: 20px;
}

.buttons {
    display: flex;
    justify-content: flex-start;
}

.actionBtn {
    color: white;
    background-color: #14a76c;
    border: none;
    padding: 5px 10px;
    margin: 5px 5px 5px 0;
    width: 50%;
}

.form > div {
    padding: 5px 0;
}

.textareaField div {
    width: 100%;
}

.textareaField textarea {
    width: 100%;
    resize: vertical;
}
