
.descriptionBlock {
    padding: 20px;
}

.editBtn button {
    width: 100%;
    color: white;
    background-color: #14a76c;
    border: none;
    padding: 5px 0;
    cursor: pointer;
}

.showMore {
    cursor: pointer;
    width: 100%;
    margin: 5px 0;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.showMore svg {
    margin-top: 4px;
    margin-left: 4px;
}

.showMore:hover {
    background-color: #535353;
}

.profileInfo > div {
    padding: 5px 0;
}

.inline {
    display: flex;
}

.icon {
    margin-top: 2px;
    padding-left: 5px;
}

.contacts {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.contacts > div {
    padding-right: 10px;
}
