.header {
    color: #1db954;
    border-bottom: 1px solid #6e767d;
    background-image: linear-gradient(#1c1e21, black);
    padding: 0;
}

.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.logoImg {
    height: 50px;
    padding: 0 10px;
}

.logoText {
    height: 20px;
}

.user {
    cursor: pointer;
}

.dropdown {
    display: none;
    position: absolute;
    margin-top: 10px;
    border: 1px solid #6e767d;
    z-index: 255;
    background-color: #1c1e21;
}

.show {
    display: block !important;
}

.loginBlock {
    float: right;
    padding: 15px;
}

.loginBlock a {
    color: white;
    text-decoration: none;
    transition: 0.1s;
}

.loginBlock a:hover {
    color: #1db954;
}

