.nav {
    grid-area: navbar;
    border-right: 1px solid #6e767d;
    padding-top: 10px;
    background-color: black;
}

.fixedNav {
    height: calc(100vh - 100px);
}

.item {
    padding: 15px;
}

.item:hover {
    /*background-color: rgba(255, 255, 255, 0.3);*/
    background-color: #1db954;
    cursor: pointer;
    color: white;
}

.logout {
    color: #d9d9d9;
    margin-top: 50px;
}

a {
    text-decoration: none;
    color: #d9d9d9;
}

a.active {
    color: #1db954;
}

a.active .item {
    border-left: 1px solid #1db954;
    color: #1db954;
    background-color: #1c1e21;
}

a.active .item:hover {

}
