.profileInfo {
    grid-template: "profileInfo";
    background-color: #212121;
    margin: 10px;
    border-radius: 5px;
    color: #d9d9d9;
}

.avatar {

}

.imageUpload {
    position: absolute;
    opacity: 0;
    transition: 0.2s;
}

.imageUpload:hover {
    opacity: 1;
}

.avatarImg {
    width: 100%;
    height: auto;
    border-radius: 5px;
}


.fullName {
    font-size: 24px;
    text-align: center;
}


.status {
    text-align: center;
}

