.item {
    color: #d9d9d9;
    margin-top: 5px;
    border-bottom: 1px solid #535353;
    padding: 10px 20px;
    display: flex;
}

.postInfo {
    display: flex;
    flex-direction: column;
}

.postInfo > div {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    padding-left: 10px;
}

.postInfo > div > div {
    padding-right: 20px;
}

.name {
    font-weight: 600;
    font-size: 18px;
}

.date {
    color: #b3b3b3;
}

.item img {
    width: 60px;
    border-radius: 100px;
}

.message {
    color: #f2f2f2;
}

.likeBtn {
    color: #b3b3b3;
    cursor: pointer;
    margin-right: 5px;
    transition: 0.1s;
}

.likeBtn:hover {
    color: #1db954;
}

.likeCount {
    font-size: 14px;
    color: #b3b3b3;
    margin-left: 5px;
}

.postActions {
    display: flex;
}

.action {
    display: flex;
    justify-content: flex-start;
}

.action > div {
    margin-right: 1px;
}
