.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label {
    color: #e6e6e6;
}

.loginBtn button {
    background-color: #1db954;
    color: white;
    border-color: #1db954;
}

.loginBtn button:hover {
    background-color: #14a76c;
    border-color: #14a76c;
}

.loginBtn button:focus {
    background-color: #189a46;
    border-color: #189a46;
}
