@import '~antd/dist/antd.css';

.app-wrapper {
    background-color: black;
    min-height: 100vh;

}

.app-wrapper__container {
    background-color: black;
}

.app-wrapper__content {
    background-color: black;
    padding: 10px;
}




