.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    height: 100%;
}

.dialogsItems {
    padding-top: 20px;
    background-color: #212121;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.dialogsItems a {
    text-decoration: none;
    cursor: pointer !important;
    width: 100%;
}

.dialogsItems a:hover {
    background-color: rgba(255, 2555, 2555, 0.2);

}

.dialogsItems a.active {
    font-weight: 600;
    color: #1db954;
}

.dialogsItems a .dialog {
    padding: 10px 20px;
    width: 100%;
}


.messages {
    padding: 20px;
    border-radius: 10px;
    background-color: #212121;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.messagesLayout {
    overflow-y: scroll;
    height: calc(100vh - 250px);

}

.messages .message {
    color: #f2f2f2;
    background-color: #121212;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: fit-content;
}

.addMessage {
    height: 10%;
    background-color: black;
    border-top: 1px solid #6e767d;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.addMessage > div {
    margin: 10px;
}

.messageInput {
    width: 80%;
}

.messageInput input {
    width: 100%;
    padding: 10px 5px;
}

.messageInput::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.messageInput:focus {
    outline: none;
    box-shadow: 0 0 5px #4390bc;
}

.btn {
    width: 20%;
}

.addBtn {
    background-color: #1db954;
    padding: 10px 15px;

    color: white;
    border: none;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.addBtn:hover {
    background-color: #1db954;
    color: white;
}

.addBtn:focus {
    outline: none;
    color: white;
    background-color: #1db954;
}


